* {
  margin-left: 2px;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

nav {
  margin-left: 3px;
  margin-bottom: 3px;
  color: var(--color-smokyblue);
}

:root {
  --color-bg: rgba(41, 38, 50, 0.898);
  --color-bg-variant: rgba(67, 63, 63, 0.898);
  --color-primary: #4280adb9;
  --color-primary: rgba(77, 181, 50, 255.4);
  --color-smokyblue: rgb(77, 92, 107);
  --color-light: rgba(255, 255, 255, 0.6);
  --container-width-lg: 100%;
  --container-width-md: 85%;
  --container-width-ms: 90%;
}

body {
  margin: 0;
  padding: 0;
  /* border-radius: 5px; */
  line-height: 2px;
  text-decoration: none;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  /* color: var(--color-light); */
  background-size: cover;
  background-color: slategrey;
  background-image: url(../src/files/homepage.png);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

section > h1,
section > h2,
section > h3,
section > h4,
section > h6 {
  /* text-align: center; */
  color: var(--color-light);
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: var(--color-bg-variant);
  transition: var(--transition);
}

.btn {
  margin: 0;
  padding: 0;
  width: max-content;
  display: flexbox;
  border: 1px dashed var(--color-primary);
  color: var(--color-smokyblue);
  border-radius: 5px;
  cursor: pointer;
}

img {
  width: 100%;
  display: block;
  border-radius: 40px;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-lg);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
